<%- include("partials/header"); %>
    <title>BOTE Signup</title>
    </head>

    <body class="text-center">

        <main class="form-signin">
            <form action="/?_method=PUT" method="POST">
                <img class="mb-4" src="/images/BOTE Logo Transparent Big copie.png" alt="" width="150" height="140">
                <h1 class="h3 mb-3 fw-normal">Please Join our Waitlist</h1>

                <div class="form-floating">
                    <input name="firstName" type="text" class="form-control" id="firstName" placeholder="First Name">
                    <label for="firstName">First Name</label>
                </div>
                <div class="form-floating">
                    <input name="lastName" type="text" class="form-control" id="lastName" placeholder="Last Name">
                    <label for="lastName">Last Name</label>
                </div>
                <div class="form-floating ">
                    <input name="email" type="email" class="form-control" id="floatingEmail"
                        placeholder="name@example.com">
                    <label for="floatingEmail">Email address</label>
                </div>
                <button class="w-100 btn btn-lg btn-primary" type="submit">Join Waitlist</button>
            </form>
        </main>

        <%- include("partials/footer"); %>